# using python 3.8
# other versions of the packages may work as well
torch==2.0.1
tqdm==4.64.1
deeponto==0.8.7
peft==0.4.0
bitsandbytes==0.40.2
trl==0.4.7
transformers==4.31.0
openai==0.27.4
openpyxl==3.1.2